* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.App {
  background-color: #0A0A0A;
  color: white;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 8px 16px;
  font-size: 28px;
  background: #01253D;
  color: #E0AC00;
  margin: 0%;
  cursor: pointer;
}

.start__tiles {
  color: #C5E7E2;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  padding-bottom: 0px;
}

.tile__img {
  position: relative;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  width: 28vw;
  height: 20vh;
}